/* ---------------------------
    Typography
   -------------------------- */

@import url(http://fonts.googleapis.com/css?family=Armata);

@font-face {
    font-family: 'rugratsregular';
    src: url('../fonts/rugrats.eot');
    src: url('../fonts/rugrats.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rugrats.woff') format('woff'),
         url('../fonts/rugrats.ttf') format('truetype'),
         url('../fonts/rugrats.svg#rugratsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial_rounded_bold';
    src: url('../fonts/Arial_rounded_bold.TTF');
    font-weight: normal;
    font-style: normal;
}


/* ---------------------------
    General Styles
   -------------------------- */

html, body {
	margin: 0;
	padding: 0;
}

body {
background: url(../images/bg.jpg) repeat-x center top #BEDDF9 !important;
}


/* ---------------------------
    Layout
   --------------------------- */

.wrapper {
	overflow: hidden;
}

.container {
	width: 1024px;
	margin: 0 auto;
	background: url(../images/nav2.jpg) repeat-y left top;
}

.header {
	position: relative;
	z-index: 100;
}

.inicio {
    background: url("../images/cuerda.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 74px;
    left: 337px;
    position: absolute;
    top: 0;
    width: 53px;
}

.main {
	position: relative;
}

.facebook {
    background: none repeat scroll 0 0 transparent;
    height: 35px;
    position: absolute;
    right: 467px;
    top: 93px;
    width: 35px;
    -moz-transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}


.twitter {
    background: none repeat scroll 0 0 transparent;
    height: 35px;
    position: absolute;
    right: 437px;
    top: 94px;
    width: 35px;
    -moz-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}


.logo_image img {
    position: relative;
    z-index: 10;
}

.logo_image a {
    display: block;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: transform 0.5s ease 0s;
    -webkit-transition: transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    -ms-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
}

.logo_image a:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cloud {
    background: url("../images/cloud3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 226px;
    position: absolute;
    right: 0;
    top: 0;
    width: 555px;
}

/* ---------------------------
    Menu
   --------------------------- */

.content_menu {
	background: rgba(255,0,0,0.1);
	width: 273px;
	float: left;
}



.main_menu {
    position: relative;
}


.vertical_text {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 17px;
    height: 42px;
    line-height: 37px;
    position: absolute;
    text-align: center;
    top: 182px;
   -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

	 -webkit-transform-origin:left top 0;
	 -moz-transform-origin:left top 0;
	-ms-transform-origin:left top 0;
	o-transform-origin:left top 0;
    transform-origin: left top 0;
    width: 197px;
    text-shadow: -1px 2px 18px rgba(150, 150, 150, 1);

    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-ttransition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.vertical_text:hover {
	color: #000;
	text-decoration: none;
	color:#fff;
}


.vertical_text:hover {
    width: 250px;
}


.navi0 { left: 0; }
.navi1 { left: 50px; }
.navi2 {left: 92px; }
.navi3 { left: 134px; }
.navi4 { left: 177px; }
.navi5 { left: 226px; }
.navi0:hover { background: #62B1EC; }
.navi1:hover { background: #e0a708; width: 218px; }
.navi2:hover { background: #be0713; }
.navi3:hover { background: #06837e; }
.navi4:hover { background: #d07802; width: 221px; }
.navi5:hover { background: #208e1b; }


/*Styles home*/
.content_slider {
	margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
}

.content_slider img {
	width: 100%;
	overflow: hidden;
}

.header h1 {
    float: right;
    margin: 0 0 1em;
    padding: 10px 140px 0 0;
}

.header_inner {
	padding: 15px 0;
}

.content {
	zoom: 1;
	width: 756px;
	float: right;
}

.content_inner {
	zoom: 1;

}
.main_content {

}

.content_left {
	float: left;
	width: 440px;
}

.content_right {
    float: right;
    width: 316px;
}


.content_left_inner {
    padding: 2px 15px 0 32px;
}



.content_right_inner {
	height: 540px;
}



.main_content_inner {
	padding: 35px 0 68px 0;
}



.title_rugrats {
    /*font-family: 'rugratsregular',arial!important;*/
    /*font-family: 'verdana'!important;*/
    /*font-family: 'Armata', sans-serif;*/
    font-family: 'rugratsregular', sans-serif!important;
    font-size: 30px;
    /*font-size: 56px;*/
    letter-spacing: 1.5px;
    margin: 0 0 21px;
    color: red;
}

.noticia_rugrats {
    color: #ff8300;
    font-family: 'rugratsregular',arial;
    font-size: 56px;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 62px 0 0;
}

.consejos-y-noticias .noticia_rugrats {
    padding: 0!important;
}

.link {
    color: #211915;
    float: right;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.separa {
    cursor: pointer;
    display: block;
    height: 226px;
    position: absolute;
    right: 88px;
    top: 75px;
        -moz-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
   width: 166px;
    z-index: 50;
}



.contenido_inner {
    padding: 14px 0 0;
    border-top: 1px solid #fff;
    margin: 40px 0 0 0;
}


.contenido_inner > img {
    padding: 0 0 10px 0;
}

.iconos {
    background: url("../images/iconos.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 38px;
    left: 3px;
    position: absolute;
    top: 26px;
    width: 257px;
    z-index: 200;
}

.main_content {
    /*padding: 30px 0 35px;*/
}

.title_second {
    color: #ff8300;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 8px 0 0;
     line-height: 1.5em;
}


.footer {
    background: url("../images/bg_footer.jpg") no-repeat scroll bottom center rgba(0, 0, 0, 0);
    border-top: 2px solid #fff;
    clear: both;
    color: #040404;
    float: none;
    font-family: 'Comic Sans MS',Arial;
    font-size: 13px;
    margin: 0 auto;
    position: relative;
}

.footer_inner {
	padding: 20px 42px 23px;
}


.lista_footer {
	float: left;
	margin: 0;

}


.lista_footer li {
    background: url("../images/guion.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0 6px 0 0;
}


.lista_footer li:last-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.derechos {
	float: right;
}


.tren {
    background: url("../images/carro.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 36px;
    position: absolute;
    right: 34px;
    top: -41px;
    width: 250px;
}

.derechos > p {
    color: #040404;
    font-family: 'Comic Sans MS',Arial;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0 !important;
    text-align: right;
}



.cloud_footer {
    background: url("../images/cloud_footer2.png") no-repeat scroll top right rgba(0, 0, 0, 0);
    height: 515px;
    position: absolute;
    right: 0;
    top: 57px;
    width: 312px;
}






.texto {
    color: #211915;
    font-family: 'Arial_rounded_bold',Arial;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    right: 18px;
    text-align: center;
    top: 442px;
}

.email {
	font-family: 'Arial_rounded_bold', Arial;
	display: block;
	color: #211915
}




.nav {
    position: absolute;
    top: 0;
    left: 0;
}


/* ---------------------------
    Quienes Somos
   --------------------------- */


.vision_p {
    padding: 13px 0 0 0;
}


.content_left_inner > img {
    padding: 5px 0 0 0;
}


/* ---------------------------
    Contactos
   --------------------------- */


.contentido_formulario_inner {
    padding: 15px 0 0;
}

label.label {
    display: block;
    font-size: 13px;
    position: 0 0 3px 0;
}



.contentido_formulario input, .contentido_formulario textarea {
    border-radius: 6px;
    margin: 4px 0 0;
    padding: 6px;
    width: 380px;

}


.content_label {
    margin: 0 0 20px 0;
}
.contentido_formulario textarea {
    height: 74px;
}


.btn_aceptar {
    background: none repeat scroll 0 0 #1597e2;
    border: 1px solid #5fc6fb;
    color: #fff;
    cursor: pointer;
    padding: 7px 24px;
    vertical-align: bottom;
    float: right;
    border-radius: 8px;
}

.btn_aceptar:hover {
    background: #2189c5;
}


label.error {
    color: #ff0000;
}

/* ---------------------------
    Separa Cita
   --------------------------- */


.citas-en-linea .title_rugrats {
margin: 0 0 3px;
}

.citas-en-linea .select {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #5fc6fb;
    border-radius: 6px;
    height: 32px;
    padding: 6px;
    width: 395px;
    outline:none;
}


.select_especialidad{
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #5fc6fb;
    border-radius: 6px;
    height: 32px;
    padding: 6px;
    width: 395px;
    outline:none;
}


.infraestructura .content {
    background: url(../images/infra.jpg) no-repeat;
    height: 634px;
}

.link_home {
    font-weight: bold;
    text-decoration: none;
}



/* ---------------------------
    Neumologia Pediatrica
   --------------------------- */

.texto_comillas {
    background: url("../images/comi_left.png") no-repeat scroll left 7px, url("../images/comi_righ.png") no-repeat scroll right 34px rgba(0, 0, 0, 0);
    padding: 4px 0 8px 0px;
}
.texto_comillas p {
    font-size: 12px;
    font-style: italic;
    padding: 0 41px;
}


.title_especial {
    color: #3ba936;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 1px 0 0;
}



.img_neumologia {
    float: left;
}


.tipos p.tipop {
    float: left;
    width: 210px;
}


.tipos img {
    padding: 9px 0 0 0;
    margin: 0 0 0 10px;
}


.green_wrong {
    color: #029994;
}


/* ---------------------------
   consejos
   --------------------------- */


.titulo_consejo {
    color: #228b3d;
    font-size: 13px;
    line-height: 19px;
}

.parrafo_consejo {
    width: 376px;
    float: right;
}

.number {
    color: #228b3d;
    float: left;
}


.content_consejo {
    padding: 0 0 12px 0;
}

/* ---------------------------
   consejos
   --------------------------- */


.consejos-y-noticias .content_consejo p:last-child::after , .consejos-y-noticias .content_noticias p:last-child::after {
    content: '...';
}



.home .content_consejo p:last-child:after, .home .content_noticias p:last-child:after {
    content: "...";
}

/* ---------------------------
    Quitar Slider
   --------------------------- */
.quienes-somos  .content_slider , .neumologia-pediatrica .content_slider, 
.consultorios  .content_slider , .consejos-y-noticias .content_slider , 
.infraestructura .content_slider,  .noticias-y-consejos .content_slider , 
.parent-pageid-22  .content_slider, .consejos  .content_slider,
 .noticias .content_slider {
    display:none;
}

.content p {
    text-align: justify;
}

.home  .content_slider {
    display: block!important;
}


/*cotactenos*/
.map_sunrise {
    margin: 0 auto;
    text-align: center;
}


.contactenos .content_slider img {
    width: auto!important;
}


.contactenos .content_slider {
    background: none repeat scroll 0 0 #f4f1ea;
}

/*citas en linea*/

.citas-en-linea .content_slider img {
    width: auto!important;
}


.citas-en-linea .content_slider {
    background: none repeat scroll 0 0 #f4f1ea;
}


/* ---------------------------
    Especialidad
   --------------------------- */

.lista_especialidad li {
    float: left;
    margin: 10px 15px 10px 0;
    width: 189px;
}

.lista_especialidad li:hover h4{
    color: rgb(228, 136, 15);
    text-decoration: underline;
}

/*.lista_especialidad li:nth-child(2n+2)*/
.lista_especialidad li:nth-child(even) {
    float: left;
    margin-right: 0;
    width: 189px;
}



.box h4 {
    color: #299824;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


/* ---------------------------
    Infraestructura
   --------------------------- */

.lista_infraestructura li {
    float: left;
    margin: 10px 15px 10px 0;
    width: 189px;
}

.lista_infraestructura li:hover h4{
    color: rgb(228, 136, 15);
    text-decoration: underline;
}

.lista_infraestructura li:nth-child(even) {
    float: left;
    margin-right: 0;
    width: 189px;
}


.img-infraestructura {
    width: 178px;
    height: 122px;
    border-radius: 20px;
    border: 4px solid #1dbec4;
    margin-right: 23px;
    margin-top: 23px;
}


/* ---------------------------
    SECCION Especialidades
   --------------------------- */
   .cuadro-especialidades-izquierda{


width: 189px;
float: left;
margin-right: 15px;
margin-top: 20px;
background: rgba(255,0,0,0.2);

}

p.titulo-especialidad:hover {
color: rgb(228, 136, 15);
}

   .cuadro-especialidades-derecha{


width: 189px;
float: right;
margin-top: 20px;
margin-right: -8px;
background: rgba(0,0,255,0.2);

}



   p.titulo-especialidad {
text-align: center;
font-weight: bold;
color: #299824;

}



/* ---------------------------
    SECCION Especialidades
   --------------------------- */


   h4.nombre-especialidad {
color: #37B0E8;
text-decoration: underline;
font-size: 18px;
font-weight: normal;
line-height: 25px;
}


p.nombre-doctor {
font-size: 14px;
font-weight: bold;
text-align: left;
}

.foto-doctor {
float: right;
margin-left: 14px;
}

p.cmp {
background-color: #C1EEFF;

}

p.rne {
background-color: #FFB858;

}



p.rne, p.cmp {

    font-size: 11px;
    padding: 5px 7px 4px 10px;
    width: 70px;
    border-radius: 9px;
    margin-top: 14px;
    text-align: left;

}

ul.trayectoria {
text-align: justify;
margin-left: 7px;
list-style-image: url("../images/vineta.png");
}


li.vineta {
margin-top: 10px;
}

.volver-atras {
float: right;
background-color: #46BB41;
padding: 9px;
border-radius: 5px;
font-weight: bold;
margin-top: 20px;
}


.galeria-consutorio {

width: 422px;


}

.img-consultorio {
width: 178px;
height: 122px;
border-radius: 20px;
border: 4px solid #1dbec4;
margin-right: 23px;
margin-top: 23px;
}

.titulo_consejo {

font-weight: bold;
}

.number {

font-weight: bold;
}

a.verpost {

    float: right;
    background-color: #14B8B3;
    padding: 5px;
    border-radius: 5px;
    margin-left: 307px;
    margin-bottom: 20px;
    color: white;

}


#casita {
position: absolute;
right: 635px;
top: 9px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
width: 53px;
height: 63px;
}


#casita:hover {
margin: -3px;
width: 56px;
height: 67px;
margin-top: 17px;
}

.pajarito {
width: 71px;
height: 51px;
position: absolute;
background: url("../images/pajarito.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
left: 526px;
top: 49px;
}


.red-social {
position: absolute;
left: 496px;
top: 92px;
}


#icofacebook {
  position: absolute;
margin-left: 24px;

width: 39px;
height: 38px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}



#icofacebook:hover {
width: 45px;
height: 44px;
margin-top: 2px;
}


#icotwitter {
  position: absolute;
margin-left: 53px;

width: 39px;
height: 38px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}



#icotwitter:hover {
width: 45px;
height: 44px;
margin-top: 2px;
}

#notamusical:hover {
position: absolute;
width: 155px;
height: 153px;
margin: 15px;
}

#notamusical {
position: absolute;
right: 33px;
bottom: -74px;
width: 155px;
height: 153px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.flexslider{
background:none!important;
border:none!important;
box-shadow:none!important;
margin:0px!important;
} 

/*.flexslider ul li {
    margin: 0px !important;
    padding: 0px !important;
}*/